@model IEnumerable<SistemaContratos.Models.Contrato>
@{
    ViewData["Title"] = "Importação de Contratos";
}

<div class="text-center mt-5">
    <h2 class="mb-4">Nova Importação</h2>
</div>

<div class="card mt-4 mx-auto" style="max-width: 500px;">
    <div class="card-body">
        <form asp-controller="Home" asp-action="Importar" method="post" enctype="multipart/form-data">
            
            <div class="mb-3">
                <label for="arquivoExcel" class="form-label">Selecione o arquivo com a carga de contratos. (Apenas arquivos .CSV)</label>
                <input class="form-control" type="file" id="arquivoContratos" name="arquivoContratos" accept=".csv" required>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Importar Dados</button>
            </div>

        </form>
    </div>
</div>

